
.form label {
  font-variant: small-caps;
  font-weight: 550;
}
form{
   width:  100px;
   float: left;
   margin-left: 5px;
}
form input {
  border-radius: 3px;
  width: 100px;
  display: inline-block;
}
.dknl {
  width: 600px;
  
}
select {
  width: 400px;
}
input text {
  width: 500px;
}
.text input {
  width: 350px;
}
